PRODUCTION = DEV | SERVE
TOKEN = MUNNGANTENGBANGETBUSET
TOKEN_DEV = MUNNGANTENGBANGETBUSET

TOKEN = NzQzODQ2ODE5NjM2NzA3Mzg5.XzanVQ.-O0f7ikUTIPdPclpnKu1_WoG-r4
client.login(process.env.PRODUCTION === 'DEV' ? process.env.TOKEN_DEV : process.env.TOKEN)