PRODUCTION = DEV | SERVE
TOKEN = MUNNGANTENGBANGETBUSET
TOKEN_DEV = MUNNGANTENGBANGETBUSET
DATABASE_URL = postgresql:

client.login(process.env.PRODUCTION === 'DEV' ? process.env.TOKEN_DEV : process.env.TOKEN)