PRODUCTION = DEV | SERVE
TOKEN = EXAMPLETOKEN1234567890
TOKEN_DEV = EXAMPLETOKENDEV1234567890
DATABASE_URL = postgresql:
GUILD_ID = 302655971946135554

client.login(process.env.PRODUCTION === 'DEV' ? process.env.TOKEN_DEV : process.env.TOKEN)